<h1>Welcome, <%= current_user.username %>!</h1>

Should see all the flashcards for a particular stack.


<h2>What would you like to do next?</h2>
<h3><a href="/stacks/new">Create a new Stack</a></h3>
<h3><a href="/stacks/new">Create a new Flashcard</a></h3>
<h3><a href="/logout">Logout</a></h3>
