<h1>Create a new flashcard:</h1>

<form action="/flashcards" method="post">
	<p>Question: <input type="text" name="question"></input></p>
	<p>Answer: <input type="text" name="answer"></input></p>
	<br><br>
	<input type="submit" value="Submit"></input>
</form>

<br><br>
<a href="/">Home Page</a>
<h3><a href="/flashcards/new">Create a new flashcard.</a></h3>
<h3><a href="/logout">Logout</a></h3>