<h1>Sign Up!</h1> 

<form action="/signup" methdd="post">
	<p>Username: <input type="text" name="username"></p>
	<p>Email: <input type="text" name="email"></p>
	<p>Password: <input type="text" name="password"></p>
	<br><br>
	<input type="submit" value="Submit" id="submit">
</form>

<br><br>
<a href="/">Home Page</a>