<h2>Hello, <%= @user.username %>!</h2>

NOTHING YET <br>


<h3><a href="/">Home Page</a></h3>
<h3><a href="/stacks/new">Create a new stack.</a></h3>
<h3><a href="/">Create a new flashcard.</a></h3>
<h3><a href="/logout">Logout</a></h3>