<h1>Welcome to Flashy Flashcards!</h1>
<p>A CMS app to help you study. Your flashcards will be organized into stacks for more efficient studying.</p>

<a href="/signup">Sign Up</a>
<br><br>
<a href="/login">Login</a>
